<h1>Subscription Expiration Notification</h1>
<p>Hello <%= @user.name %></p>
<p>Your Subscription End date is <%= @user.subscription.end_date %> </p>
<p>If you Want to continue Please Renew Your subscription</p>
<p>Thank you!</p>