<h1>Email Varification Instructions</h1>
<p>Hello <%= @user.name %></p>
<p>You have requested to Verify your Email. Please use the following Otp to verify your Email:</p>
<p><strong><%=@user.otp%></strong></p>
<p>If you did not request a Email Varification, please ignore this email.</p>
<p>Thank you!</p>